@model ImageEditionApp.ViewModels.ImageModel

<!--<h3>Value</h3>-->
<ul>
    <img src=@Model.RetImagePath alt="Sample Photo"  width="300px"/>
    <p>@Model.NewImageWidth <span> x </span> @Model.NewImageHeight</p>
</ul>